<nav class="navbar navbar-expand-md navbar-light" id="navMenuComponent">
    <a href="/" class="navbar-brand">
        <img src="../../assets/logo.png">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <div class="navbar-nav ml-auto" *ngIf="headerView === 'none'">
            <a href="register" class="nav-item nav-link">Registracija</a>
            <a href="login" class="nav-item nav-link active" tabindex="-1">Uloguj se</a>
        </div>

        <div class="navbar-nav ml-auto" *ngIf="headerView === 'student'">
            <a href="student/tourism" class="nav-item nav-link">Turistički sadržaj</a>
            <a href="student/accomodation" class="nav-item nav-link">Smeštaj</a>
            <a href="student/matches" class="nav-item nav-link">Utakmice</a>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Moj profil
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="profile()">Pregled profila</a>
                    <a class="dropdown-item" (click)="logout()">Odjavi se</a>
                </div>
            </div>
        </div>

        <div class="navbar-nav ml-auto" *ngIf="headerView === 'organisator'">
            <a href="organiser/halls" class="nav-item nav-link">Hale</a>
            <a href="organiser/requests" class="nav-item nav-link">Zahtevi</a>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Moj profil
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="profile()" >Pregled profila</a>
                    <a class="dropdown-item" (click)="logout()" >Odjavi se</a>
                </div>
            </div>
        </div>
    </div>
</nav>