<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzijada</title>
  </head>
  <body>
    <pki-header></pki-header>
    
    <div id="page-container">
      <div id="content-wrap">
        <div class="container mt-4">
          <router-outlet class="flex-center"></router-outlet>
        </div>
      </div>
      <pki-footer id="footer"></pki-footer>
    </div>
  </body>
</html>