#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;  
    background-color: #5B762D;
}

#content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}